<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AICTE Portal</title>
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
	<link href="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.min.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/65b6696452.js" crossorigin="anonymous"></script>
</head>

<body class="bg-gray-50 dark:bg-gray-900">
	<div class="fixed z-50 px-20 bg-white shadow py-2 top-0 left-0 right-0">
		<!-- Fixed header content -->
		<nav>
			<div class="mx-auto flex flex-wrap items-center justify-between">
				<a class="text-sm font-bold block text-center text-gray-800 dark:text-gray-200" th:href="@{/dashboard}"
					style="padding-bottom: 0px;">
					<img th:src="@{/assets/images/ashokit-logo.png}" class="h-12" alt="logo">
				</a>
				<div class="hidden md:block w-full md:w-auto pr-3" id="mobile-menu">
					<p class="bg-white px-2 rounded">
						<span id="timer" class="text-lg font-medium text-gray-900"></span>
						<input type="hidden" id="timerValue" th:value="${timeLimit}">
					</p>
				</div>
			</div>
		</nav>
	</div>
	<section class="w-full mt-20">
		<main class="container px-6 mx-auto">
			<!-- Main content -->
			<div class="mb-2">
				<div class="bg-white border border-4 rounded-lg shadow relative mx-8">
					<form id="examForm">
						<div class="px-6 pb-6 pt-2">
							<div class="mt-1">
								<div class="col-span-6 sm:col-span-3" th:each="question : ${questions}">
									<label th:for="${question.questionId}"
										class="text-lg font-medium text-gray-900 block mb-2"
										th:text="${question.questionValue}"></label>
									<div class="mt-2 space-y-2" th:each="option : ${question.options}">
										<div>
											<label th:for="${option.optionId}" class="inline-flex items-center">
												<input type="radio" th:name="${question.questionId}"
													th:value="${option.optionNumber}"
													class="form-radio h-4 w-4 text-cyan-600 focus:ring-cyan-500">
												<span class="ml-2 text-gray-900" th:text="${option.optionValue}"></span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" id="selectedQuestions" name="selectedQuestions" />
						<div class="px-5 py-3 border-t border-gray-200 rounded-b flex justify-end">
							<button id="submitBtn"
								class="text-white bg-indigo-500 hover:bg-indigo-500 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2 text-center"
								type="button" onclick="submitExam()">Complete Exam
							</button>
						</div>
					</form>
				</div>
			</div>
		</main>
	</section>
	<script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>

	<script>
		let timerInterval;
		let examVisited = false;

		document.addEventListener("DOMContentLoaded", function () {
			const timerValue = document.getElementById('timerValue').value;
			console.log(timerValue)
			startTimer(parseInt(timerValue, 10));
			const sessionValue = localStorage.getItem('isLoggedIn');
			if (sessionValue !== 'true') {
				isLoggedIn = false;
				history.pushState(null, '', '/logout');
			}

			window.addEventListener('popstate', function (event) {
				if (window.location.pathname === '/exam' && examVisited) {
					logoutAndRedirect();
					window.history.forward();
				}
			});

			history.pushState(null, null, document.URL);
			window.addEventListener('popstate', function () {
				history.pushState(null, null, document.URL);
			});
		});

		function startTimer(minutes) {
			const endTime = new Date();
			endTime.setMinutes(endTime.getMinutes() + minutes);
			timerInterval = setInterval(function () {
				const currentTime = new Date();
				const timeDiff = endTime - currentTime;
				const secondsRemaining = Math.floor(timeDiff / 1000);
				if (secondsRemaining <= 0) {
					clearInterval(timerInterval);
					submitExamAndLogout();
					return;
				}
				const minutesRemaining = Math.floor(secondsRemaining / 60);
				const secondsDisplay = secondsRemaining % 60;
				document.getElementById('timer').innerHTML = `Timer : ${minutesRemaining}m ${secondsDisplay}s`;
			}, 1000);
		}

		function submitExam() {
			const submitBtn = document.getElementById('submitBtn');
			submitBtn.disabled = true;
			clearInterval(timerInterval);
			examVisited = true; // Set flag to true when exam page is visited
			const selectedAnswers = document.querySelectorAll('input[type="radio"]:checked');
			const selectedQuestions = [];
			selectedAnswers.forEach(answer => {
				const questionId = answer.getAttribute('name');
				const answerId = answer.value;
				selectedQuestions.push({questionId, answerId});
			});
			document.getElementById('selectedQuestions').value = JSON.stringify(selectedQuestions);
			fetch('/submitResponse', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(selectedQuestions)
			}).then(response => {
				if (response.ok) {
					window.location.href = '/result';
				}
			});
		}

		function submitExamAndLogout() {
			submitExam();
			logoutAndRedirect();
		}

		function logoutAndRedirect() {
			if (isLoggedIn) {
				fetch('/logout', {
					method: 'GET'
				}).then(response => {
					if (response.ok) {
						localStorage.removeItem('isLoggedIn');
						window.location.replace('/logout');
					}
				});
			}
		}
	</script>

</body>

</html>