<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AICTE Portal</title>
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
	<link href="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.min.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/65b6696452.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="fixed z-50 px-20 bg-indigo-500 py-2 top-0 left-0 right-0">
		<!-- Fixed header content -->
		<nav>
			<div class="mx-auto flex flex-wrap items-center justify-between">
				<a href="#" class="flex items-center text-white space-x-3 rtl:space-x-reverse justify-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
						stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
					</svg>
					<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
						<p class="text-lg">Online Exam</p>
						<p class="text-xs">Online Examination Portal</p>
					</span>
				</a>
				<div class="hidden md:block w-full md:w-auto" id="mobile-menu">
					<p class="bg-white px-2 rounded">
						<span id="timer" class="text-lg font-medium text-gray-900"></span>
					</p>
				</div>
			</div>
		</nav>
	</div>
	<section class="w-full mt-20">
		<main class="container px-6 mx-auto">
			<!-- Main content -->
			<div class="mb-2">
				<div class="bg-white border border-4 rounded-lg shadow relative mx-8">
					<form id="examForm">
						<div class="px-6 pb-6 pt-2">
							<div class="mt-1">
								<div class="col-span-6 sm:col-span-3" th:each="question : ${questions}">
									<label th:for="${question.questionId}"
										class="text-lg font-medium text-gray-900 block mb-2"
										th:text="${question.questionValue}"></label>
									<div class="mt-2 space-y-2" th:each="answer : ${question.answer}">
										<div>
											<label th:for="${answer.answerId}" class="inline-flex items-center">
												<input type="radio" th:name="${question.questionId}"
													th:value="${answer.answerId}"
													class="form-radio h-4 w-4 text-cyan-600 focus:ring-cyan-500">
												<span class="ml-2 text-gray-900" th:text="${answer.answerValue}"></span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" id="selectedQuestions" name="selectedQuestions" />
						<div class="px-5 py-3 border-t border-gray-200 rounded-b flex justify-end">
							<button
								class="text-white bg-indigo-500 hover:bg-indigo-500 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2 text-center"
								type="button" onclick="submitExam()">Complete Exam
							</button>
						</div>
					</form>
				</div>
			</div>
		</main>
	</section>
	<script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
	<script>
		let timerInterval;
		document.addEventListener("DOMContentLoaded", function () {
			const dropdownElements = document.querySelectorAll('.dropdown');
			if (dropdownElements) {
				dropdownElements.forEach(function (dropdownEl) {
					M.Dropdown.init(dropdownEl, {
						constrainWidth: false,
						coverTrigger: false,
					});
				});
			}
			startTimer(1);
		});

		function startTimer(minutes) {
			const endTime = new Date();
			endTime.setMinutes(endTime.getMinutes() + minutes);
			timerInterval = setInterval(function () {
				const currentTime = new Date();
				const timeDiff = endTime - currentTime;
				const secondsRemaining = Math.floor(timeDiff / 1000);
				if (secondsRemaining <= 0) {
					clearInterval(timerInterval);
					submitExam();
					return;
				}
				const minutesRemaining = Math.floor(secondsRemaining / 60);
				const secondsDisplay = secondsRemaining % 60;
				document.getElementById('timer').innerHTML = `Time Remaining: ${minutesRemaining}m ${secondsDisplay}s`;
			}, 1000);
		}

		function submitExam() {
			clearInterval(timerInterval);
			const selectedAnswers = document.querySelectorAll('input[type="radio"]:checked');
			const selectedQuestions = [];
			selectedAnswers.forEach(answer => {
				const questionId = answer.getAttribute('name');
				const answerId = answer.value;
				selectedQuestions.push({questionId, answerId});
			});
			document.getElementById('selectedQuestions').value = JSON.stringify(selectedQuestions);
			fetch('/submitResponse', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(selectedQuestions)
			}).then(response => {
				if (response.ok) {
					window.location.href = '/result';
				}
			});
		}
	</script>
</body>

</html>